<html>
<head>
    <title>Ratpack03</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <h1>Event Summary</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date Time</th>
            <th>User Email</th>
            <th>Type</th>
            <th>Detail</th>

        </tr>
        </thead>
        {{#each events}}
            <tr>
                <td>{{eventDate}}</td>
                <td>{{userEmail}}</td>
                <td>{{type}}</td>
                <td>{{detail}}</td>
            </tr>
        {{/each}}
    </table>
</div>
</body>
</html>